<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这个配置文件是为哪个mapper服务的  写这个mapper的全类名-->
<mapper namespace="com.newcoder.community.dao.UserMapper">




    <sql id="insertFields">
        username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <sql id="selectFields" >
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <!--selectById(int id)-->
    <select id="selectById" resultType="com.newcoder.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where id = #{id}
    </select>

    <!--selectByUserName(String Username)-->
    <select id="selectByUserName" resultType="com.newcoder.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where username = #{userName}
    </select>

    <!--selectByEmail(String email)-->
    <select id="selectByEmail" resultType="com.newcoder.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where email = #{email}
    </select>


    <!--int insertUser();-->
    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime})
    </insert>

    <!--updateStatus(int id, int status)  这里返回的简单参数 不用声明 java能识别-->
    <update id="updateStatus">
        update user
        set status = #{status}
        where id = #{id}
    </update>

    <!--updateHeaderUrl(int id, String headerUrl)  这里返回的简单参数 不用声明 java能识别-->
    <update id="updateHeaderUrl">
        update user
        set header_url = #{headerUrl}
        where id = #{id}
    </update>

    <!--updatePassword(String password)  这里返回的简单参数 不用声明 java能识别-->
    <update id="updatePassword">
        update user
        set password = #{password}
        where id = #{id}
    </update>

    <!--deleteById(int id)-->
    <delete id="deleteById" >
        delete user
        where id = #{id}
    </delete>

</mapper>